/* Đây là màu chủ đạo của website, mình sẽ thường dùng màu này để CSS cho chữ và nút nên Trang tạo 1 biến,
khi nào mn cần CSS màu này thì chỉ cần gọi var(--primary-color) là sẽ đùng được, không cần tra lại mã màu nha */
:root {
    --primary-color: #f26822;
}
/* Phần này Trang reset CSS để bỏ đi những CSS mặc định của trình duyệt thôi nha mn */
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: 'Montserrat', sans-serif; 
    box-sizing: border-box;
}
/* Nút button mình sẽ dùng lại nhiều lần và nó CSS giống nhau nên Trang tạo 1 class chung ở đây,
khi nào mn cần tạo nút này thì chỉ cần add class 'btn' vô là được nhé. */
.btn{
    text-decoration: none;
    background: var(--primary-color);
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    font-weight: 400;
    line-height: 0.8;
    transition: all 0.5s ease;
}
.btn:hover{
    color: var(--primary-color);
    background-color: #ffffff;
}